@import 'header';
@import 'variables';
@import 'mixins';
@import 'main';
@import 'services';
@import 'skills';
@import 'contact';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.title {
        width: 20%;
        margin: auto ;
        display: flex;
        justify-content: center;
        align-items: center;

        .main-title {
            text-align: center;
            margin: 2rem 0;
            font-size: 1.8rem;
            padding: 8px 20px;
            background-color: $mainColor;
            color: $white;
            border-radius: 20px;
            transition: all 0.2s ease-in-out;

            @include mobile {
                font-size: 1.4rem;
            }

            &:hover {
                background-color: rgba(18, 95, 89, 0.7);
                cursor: default;
            }
        }
    }


.box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}